*
    margin: 0
    padding: 0
    box-sizing: content-box
    cursor: none

body
    background: $background
    color: $white
    overflow-x: hidden

.App
    overflow-x: hidden

section
    width: 65vmax
    max-width: 90%
    margin-top: calc(4.5vh + 2.2rem)
    height: calc(100vh - 4.5vh - 2.2rem)

a
    &:link
        color: $white
        text-decoration: none
    &:visited
        color: $white
        text-decoration: none

ul
    list-style: none

button
    border: solid 1px $lightBlue
    cursor: pointer
    line-height: 2.5em
    background: transparent
    text-transform: uppercase
    &:hover
        background: $lightBlue
