.about
    display: flex
    max-height: calc(100vh - 4.5vh - 2.2rem)
    overflow-x: hidden
    gap: 5vh
    flex-flow: column nowrap
    margin-top: calc(4.5vh + 2.2rem)
    justify-content: center

    &__title
        position: relative
        @extend %h2
        text-transform: uppercase
        color: $lightBlue
        z-index: 2

    &__body
        position: relative
        display: grid
        grid-template-columns: repeat( 12 , 1fr )
        gap: 2.15%
        z-index: 2

    &__textContainer
        grid-column: 3/11
        display: flex
        flex-flow: column nowrap
        gap: 2rem

    &__text
        @extend %tinyText
        line-height: 1.7em

    &__finalText
        white-space: nowrap

    &__subtitle
        @include typography(Roboto, 2rem, bold, $white)

    &__background
        position: absolute
        height: 100vh
        width: 100vw
        top: 0
        right: 0
        overflow: hidden
        z-index: 1

    &__backgroundImage
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        min-height: 100vh
        min-width: 100vw
        height: 100vh
        width: 100vw
        object-fit: contain
        z-index: 1

// Background MQ

@media (min-width: 110vh )
    .about
        &__backgroundImage
            &--tablet
                display: none
            &--mobile
                display: none
@media (min-width: 60vh) and (max-width: 110vh )
    .about
        &__backgroundImage
            height: unset
            &--desktop
                display: none
            &--mobile
                display: none
@media (max-width: 60vh )
    .about
        &__backgroundImage
            &--desktop
                display: none
            &--tablet
                display: none

@media  (min-width: 175vh)
    .about
        &__backgroundImage
            &--desktop
                object-fit: cover
                width: 100vw

// General MQ

@media (max-width: 700px)
    .about
        padding: 0 20vw
        &__title
            font-size: 2.5rem
        &__body
            display: block
        &__subtitle
            &--desktop
                display: none

        &__text
            &--desktop
                display: none

@media (min-width: 700px)
    .about
        &__body
            &--mobile
                display: none

        &__title
            &--mobile
                display: none

@media (min-height: 170vw)
    .about
        &__text
            font-size: 1.2rem
