.about
    display: grid
    grid-template-columns: repeat( 12 , 1fr )
    gap: 2.15%
    height: calc(100vh - 4.5vh - 2.2rem - 4rem)
    padding: 2rem 0
    align-content: center
    z-index: 1

    &__background
        position: flex

        height: 100vh
        width: 100vw
        top: 0
        left: 0
        overflow: hidden
        z-index: 1

    &__backgroundImage
        position: absolute
        left: 0
        top: 0
        width: 100vw
        max-width: 100vw
        object-fit: contain
        z-index: 2
        &--map

        &--line

        &--icon
