.classesMain
    height: calc(100vh - 4.5vh - 2.2rem - 4rem)
    padding: 2rem 0
    align-items: center
    z-index: 1
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    position: relative

    &__body
        position: relative
        display: flex
        flex-flow: column nowrap
        justify-content: center
        gap: 4vh
        z-index: 2

    &__title
        @extend %h2
        color: $lightBlue
        text-transform: uppercase

    &__subtitle
        @include typography(Roboto, 2rem, bold, $white)
        text-transform: uppercase

    &__hashtag
        @include typography(Roboto, 1.2rem, normal, $lightBlue)

    &__mainText
        @extend %tinyText
        line-height: 2em

    &__finalText
        white-space: nowrap

    &__toDownLink
        position: absolute
        @extend %h2
        color: $lightBlue
        text-align: right
        cursor: pointer
        bottom: 10vh
        width: 100%

    &__imageContainer
        position: absolute
        max-width: 50%
        right: 0

@media ( max-width: 100vh )
    .classesMain
        &__imageContainer
            top: 20%
            max-width: 65%
            max-height: 50%

    &__hashtag
        font-size: 1.4rem

    &__mainText
        font-size: 1.2rem

@media ( max-width: 1100px ) and (min-width: 700px)
    .classesMain
        &__hashtag
            font-size: 1.6rem
        &__mainText
            font-size: 1.5rem

@media ( max-width: 1100px ) and (min-width: 1000px) and (min-width: 100vh)
    .classesMain
        &__hashtag
            font-size: 1.6rem
        &__mainText
            font-size: 1.4rem

@media (max-width: 500px)
    .classesMain
        max-width: 80%
        &__title
            font-size: 4rem
            line-height: 1em
        &__subtitle
            font-size: 1.8rem
        &__imageContainer
            top: 10%
            left: 15%
            max-width: 90%
            width: 75%
            max-height: 50%
