.classesMain
    height: calc(100vh - 4.5vh - 2.2rem - 4rem)
    padding: 2rem 0
    align-content: center
    z-index: 1
    &__imageContainer
        height: 50vh
        max-width: 40vh

        img
            object-fit: contain
            width: 100%
