.error
    align-items: center
    display: flex
    flex-flow: column nowrap
    justify-content: center
    gap: 6vh
    height: calc(100vh - 4.5vh - 2.2rem - 4rem)
    padding: 2rem 0

    &__title
        @extend %homeTitle
        line-height: 1em
        text-align:center

        &Sad
            color: $lightBlue

    &__body
        align-items: center
        display: flex
        flex-flow: column nowrap
        justify-content: center
        gap: 3vh

    &__paragraph
        @extend %text
        font-size: 1.5rem
        text-align: center

    &__finalText
        white-space: nowrap
