.shows
    display: flex
    flex-flow: column nowrap
    justify-content: center
    gap: 6vh
    height: calc(100vh - 4.5vh - 2.2rem - 4rem)
    padding: 2rem 0
    position: fixed
    top: 0

    &__heading
        display: flex
        flex-flow: column nowrap
        justify-content: center
        gap: 3vh

    &__title
        @extend %h2
        text-transform: uppercase
        color: $lightBlue

    &__subtitle
        @extend  %tinyText
        letter-spacing: .05em
        line-height: 2em

        &Final
            white-space: nowrap

@media (max-width: 500px)
    .shows
        width: 85%
        gap: 3vh
        &__title
            font-size: 4rem
        &__subtitle
            font-size: 1rem
            line-height: 1.5em
