.header
    position: fixed
    align-items: center
    max-height: 6rem
    height: 4.5vh
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    padding: 2.2rem 2%
    width: calc(100vw - 4.4rem)
    top: 0
