.main
    display: flex
    justify-content: center

    &--home
        min-height: 170vh

    &--clases
        min-height: 160vh

    &--podcast
        min-height: 160vh

    &--shows
        min-height: 100vh

    &--contacto
        min-height: 100vh
