.showsCarouselContainer
    min-height: 15vmin
    padding: 0 5.48vw
    display: flex
    flex-flow: column nowrap
    height: calc(17vmin + 5vh + 1em + 3.6em)
    justify-content: space-between

    &__reserveButton
        @extend %button
        width: 20.5vw
        line-height: 3em
