.showCard
    display: flex
    flex-flow: column nowrap
    gap: 3.5vmin
    height: 17.5vh

    &__mainInfo
        align-items: center
        display: flex
        justify-content: space-between
        height: 12vmin

    &__date
        display: flex
        flex-flow: column nowrap
        justify-content: center
        height: 100%
        flex-basis: 35%
        &Item
            @include typography(Roboto, 2rem, bold)

    &__stock
        display: flex
        gap: .4rem
        flex-basis: 60%
        justify-content: center
        align-items: center
        position: relative
        height: 100%
        &:before
            content: ""
            width: 2px
            height: 75%
            position: absolute
            background: $lightBlue
            left: 0

        &Number
            @include typography(Roboto, 6rem, bold, $lightBlue)

        &Text
            @include typography(Roboto, 2rem, bold)
            text-transform: uppercase
            width: 11ch

    &__place
        @extend  %tinyText
        letter-spacing: .05em
        text-transform: uppercase
        line-height: 2vh
        height: 2vh

@media (max-width: 500px)
    .showCard
        &__stock
            &Number
                font-size: 5rem
            &Text
                font-size: 1.8rem
