.whyListItem
    position: relative
    height: 17vh
    flex-flow: column nowrap
    gap: 3vh
    z-index: 2

    &--desktop
        display: flex

    &--mobile
        display: none

    &__itemHeading
        display: flex
        gap: 1rem
        align-items: center

    &__dot
        width: 3vw
        height: 3vw

        &--red
            background: #ff0178

        &--purple
            background: #8200aa

        &--pink
            background: #ce00b3

        &--blue
            background: #005864

    &__itemTitle
        @extend %h3
        text-transform: uppercase

    &__itemBody
        @extend %tinyText
        line-height: 2em

    &__finalText
        white-space: nowrap

@media (min-width: 800px) and (max-width: 100vh)
    .whyListItem

        &__itemBody
            font-size: 1.5rem

@media (min-width: 500px) and (max-width: 800px)
    .whyListItem

        &__itemBody
            font-size: 1.2rem

@media (max-width: 500px)
    .whyListItem
        &--desktop
            display: none

        &--mobile
            display: flex

        &__itemTitle
            font-size: 2rem
        &__itemBody
            font-size: 1.5rem
            line-height: 1.5em

@media (max-width: 60vh)
    .whyListItem
        height: unset
        &__itemTitle
            font-size: 1.8rem
